.slider {
  position: absolute;
  border: none;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex; 
  align-items: top;
  overflow: hidden;
}

i{
  font-size: 2vw;
  color: rgba(250, 235, 215, 0.507)
  
}

.slide {
  border: none;
  min-width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
}

#goLeft {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  left: 0;
  background: none;
  outline: none;
  border:none;
  transition:0.5s;
}

#goRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  right: 0;
  background: none;
  outline: none;
  border:none;
  transition: 0.5s;
}

#goLeft:hover,#goRight:hover {
  background: rgba(0, 0, 0, 0.349);
  cursor: pointer;
  color: rgb(250, 235, 215) ;
}